/* @tailwind base ; */

@tailwind utilities;
@tailwind overflow;
@tailwind components;
@tailwind screens;
@tailwind forms;
@tailwind typography;
@tailwind animations;
@tailwind aspect-ratio;
@tailwind line-clamp;
@tailwind modals;
@tailwind accordion;

@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Estilos generales para los botones */
.editar-btn, .eliminar-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px; /* Ancho fijo para los botones */
    height: 24px; /* Alto fijo para los botones */
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  /* Estilos específicos para los íconos */
  .editar-btn i, .eliminar-btn i {
    font-size: 16px; /* Tamaño del ícono */
  }
  
  /* Estilos para el hover */
  .editar-btn:hover {
    color: #007bff; /* Azul claro al pasar el mouse */
  }
  .eliminar-btn:hover {
    color: #dc3545; /* Rojo claro al pasar el mouse */
  }
  
  /* Estilos para DataTables */
  #TablaPersonas td:last-child {
    white-space: nowrap; /* Evitar que el texto se rompa en múltiples líneas */
    text-align: center; /* Centrar los botones horizontalmente */
  }

  .btn-azul {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }